{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Device{% endblock %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            {% if devices %}
                <h1>{{ devices.count }} device{{ devices.count|pluralize }}</h1>
            {% else %}
                <h1>No battery device</h1>
            {% endif %}

            <!-- filters -->
            <form>
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Set Filter" class="btn btn-info btn-sm">
                <a class="btn btn-outline-info btn-sm" href="{% url 'battery:device' %}">Clear Filter</a>
            </form>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">Description</th>
                  <th scope="col">Battery Type</th>
                  <th scope="col">Quantity</th>
                </tr>
              </thead>
              <tbody>

            <div class="list-group">
                {% for device in devices %}
                    <tr>
                        <th scope="row"><a href="{% url 'battery:device_detail' device.pk %}">{{ device.description }}</a></th>
                        <td>{{ device.battery_type }}</td>
                        <td>{{ device.battery_qty }}</td>
                    </tr>
                {% endfor %}
                {% if devices %}
                    <tr>
                      <th class="table-dark" scope="row">Total</th>
                      <td class="table-dark"></td>
                      <th class="table-dark">{{ battery_total }}</th>
                    </tr>
                {% endif %}
             </tbody>
            </table>
            </div>
        </div>

        <div class="text-center">
            <a role="button" class="btn btn-primary" href="{% url 'battery:device_create' %}">New device</a>
        </div>
    </div>
{% endblock %}
